<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>خطا</title>
    <link rel="stylesheet" href="style.css">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" -->
    <!-- integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="background"></div>
    <div class="container">
        <!--/.row-->
        <div class="row">
            <div class="modalbox error col-sm-8 col-md-6 col-lg-5 center animate">
                <div class="icon">
                    <span class="glyphicon glyphicon-thumbs-down"></span>
                </div>
                <!--/.icon-->
                <h1>متاسفانه خطایی پیش آمد</h1>
                <br>
                <p>در صورتی که مبلغی از حساب شما کسر شده<br>در مدت ۴۸ ساعت به حساب شما باز میگردد</p>
                <button type="button" class="redo btn">Try again</button>
            </div>
            <!--/.success-->
        </div>
        <!--/.row-->
    </div>
</body>

</html>