<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>خطا</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://giftkade.com/api/css/style.css">
    <!-- <link rel="stylesheet" href="../../public/css/style.css"> -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script>
        function home() {
            window.location = "https://giftkade.com"
        };
    </script>
</head>

<body>
    <div class="background"></div>
    <div class="container">
        <!--/.row-->
        <div class="row">
            <div class="modalbox error col-sm-8 col-md-6 col-lg-5 center animate">
                <div class="icon">
                    <span class="glyphicon glyphicon-thumbs-down"></span>
                </div>
                <!--/.icon-->
                <br>
                <p style="font-size: 30px;font-weight: bold;">متاسفانه خطایی پیش آمد</p>
                <br>
                <p dir="rtl">در صورتی که مبلغی از حساب شما کسر شده<br>در مدت ۴۸ ساعت به حساب شما باز میگردد</p>
                <button type="button" class="redo btn" dir="rtl" onclick="home()">بازگشت به سایت</button>
            </div>
            <!--/.success-->
        </div>
        <!--/.row-->
    </div>
</body>

</html>