<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>خرید موفقیت آمیز</title>
    <link rel="stylesheet" href="style.css">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" -->
    <!-- integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="background"></div>
    <div class="container">
        <div class="row">
            <div class="modalbox success col-sm-8 col-md-6 col-lg-5 center animate">
                <div class="icon">
                    <span class="glyphicon glyphicon-ok"></span>
                </div>
                <!--/.icon-->
                <h1>باتشکر از خرید شما</h1>
                <h4 dir="rtl">شماره سفارش: "<%= orderId %>"
                    <br>
                    <br>
                    کد پیگیری: "<%= refId %>"
                </h4>
                <br>
                <p> خرید شما برای شما ارسال خواهد شد</p>
                <p>شما میتوانید خرید های خود را در حساب کاربری خود مشاهده کنید</p>
                <button type="button" class="redo btn">Ok</button>

            </div>
            <!--/.success-->
        </div>
        <!--/.row-->
    </div>
</body>

</html>